@import "tailwindcss";

@font-face {
    font-family: santoshi;
    src: url(/assets/fonts/Satoshi-Regular.otf);
}

@font-face {
    font-family: santoshi-bold;
    src: url(/assets/fonts/Satoshi-Bold.otf);
}

@font-face {
    font-family: Integral-CF;
    src: url(/assets/fonts/Fontspring-DEMO-integralcf-bold.otf);
}

.font-intergal-cf{
    font-family: Integral-CF;
}

body{
    font-family: santoshi;
}

.font-santoshi-bold{
    font-family: santoshi-bold;
}

.footer-bg{
  background: linear-gradient(180deg, rgba(255,255,255,1) 15%, rgba(240,240,240,1) 15%);
}